.text-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  gap: 40px;

  .description {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 2rem;
      line-height: 2rem; /* 100% */
      margin-bottom: 15px;
    }

    .release {
      font-size: 0.875rem;
      line-height: 1.25rem; /* 142.857% */
      margin-bottom: 40px;
    }

    .info {
      color: var(--text, #B7BACD);
      font-size: 0.875rem;
      line-height: 1.375rem; /* 157.143% */
      width: 277px;
      height: 87px;
      flex-shrink: 0;
    }

    .score {
      position: absolute;
      top: 0;
      right: 0;
      width: 75px;
      height: 75px;
      flex-shrink: 0;
    }
  }

  .to-buy {
    display: flex;
    gap: 50px;

    .price-wrap {
      display: flex;
      flex-direction: column;

      .discount {
        color: var(--yellow, #FFDD3F);
        font-size: 0.75rem;
        line-height: 1.25rem; /* 166.667% */
      }

      .price {
        color: #FFF;
        font-size: 2rem;
        line-height: 2rem; /* 100% */
      }
    }

    button.buy {
      width: 155px;
      height: 60px;
      display: flex;
      padding: 20px 30px;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      background: var(--light-green, #13E28D);
      outline: none;
      border: none;

      color: #FFF;
      font-family: Lato, sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25rem; /* 125% */
      text-transform: uppercase;
    }
  }
}
