:root {
  color-scheme: light dark;
  background: var(--dark-blue, #2B3040);
}
body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  color: #fff;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
}
ul {
  li {
    list-style: none;
  }
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  background: url(./assets/img/bg-image.jpg) lightgray 50% / cover no-repeat;
  height: 100vh;
}
.overlay {
  background: rgba(41, 45, 62, 0.80);
  width: auto;
  height: 100vh;
}
.game-info {
  position: absolute;
  width: 600px;
  height: 552px;
  flex-shrink: 0;
  .tabs {
    display: inline-flex;
    height: 120px;
    padding: 30px 40px;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-shrink: 0;
  }
  .card {
    display: inline-flex;
    gap: 40px;
    padding: 60px 40px;
    justify-content: space-between;
    align-items: center;
    background: var(--deep-blue, #212534);
    .pic-info {

    }
    .text-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      gap: 40px;
      .description {
        display: flex;
        flex-direction: column;
        .title {
          font-size: 2rem;
          line-height: 2rem; /* 100% */
          margin-bottom: 15px;
        }
        .release {
          font-size: 0.875rem;
          line-height: 1.25rem; /* 142.857% */
          margin-bottom: 40px;
        }
        .info {
          color: var(--text, #B7BACD);
          font-size: 0.875rem;
          line-height: 1.375rem; /* 157.143% */
          width: 277px;
          height: 87px;
          flex-shrink: 0;
        }
        .score {
          position: absolute;
          top: 0;
          right: 0;
          width: 75px;
          height: 75px;
          flex-shrink: 0;
        }
      }
      .to-buy {
        button.buy {
          display: flex;
          padding: 20px 30px;
          justify-content: center;
          align-items: center;
          border-radius: 2px;
          background: var(--light-green, #13E28D);
          outline: none;
          border: none;

          color: #FFF;
          font-family: Lato, sans-serif;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem; /* 125% */
          text-transform: uppercase;
        }
      }
    }
  }
}

.donut-wrap {
  position: relative;
  display: inline-block;
}
.donut-text {
  position: absolute;
  inset:0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  color: var(--text, #B7BACD);
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; /* 110% */
}
.donut-svg {
  transform: rotate(-90deg);
}